@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");
@import url(carta.css);
@import url(footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

.container {
    width: 100%;
}

.container-mini {
    width: 100%;
    min-height: 400px;
    padding: 30px 40px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-mini h2 {
    font-size: 2em;
}

.container-mini h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.container-mini h4 {
    margin-bottom: 10px;
}

.container-mini-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button {
    position: relative;
    display: block;
    width: 200px;
    margin: 20px auto 0px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: white;
    border-radius: 2px;
    background-color: #e67321;
    transition: all 0.5s;
    user-select: none;
}

.fa-chevron-right {
    visibility: hidden;
    position: absolute;
    right: 10px;
    top: 11px;
    transition: all 0.5s;
    opacity: 0;
}

.button:hover {
    background-color: #ca651c;
}

.button:hover .fa-chevron-right {
    visibility: visible;
    position: absolute;
    right: 7px;
    opacity: 1;
}

/* Header */

header .container {
    height: 500px;
    margin: 0px;
    padding: 0px;
}

.container-barmenu {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: none;
    z-index: 999999;
    transition: all 0.5s;
}

.fixed {
    position: fixed;
    top: 0;
    background: #ca651c;
}

.container-barmenu-logo a {
    text-decoration: none;
}

.container-barmenu-logo h1 {
    font-size: 1.6em;
    display: inline-block;
    color: #fff;
}

.fa-utensils {
    font-size: 1.6em;
    color: #fff;
}

.fa-bars {
    margin-top: 3px;
    font-size: 1.6em;
    color: #fff;
    cursor: pointer;
}

.container-barmenu-nav {
    transform: translateX(-100%);
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #ca651c;
    top: 0;
    left: 0;
    transition-delay: 500ms;
    transition-duration: 0.5s;
}

.background-nav {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);
    top: 0;
    left: 0;
    transition-duration: 500ms;
}

.fa-times {
    position: absolute;
    top: 5%;
    left: 80%;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
}

.fa-arrow-left {
    position: absolute;
    top: 5%;
    left: 80%;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
}

.container-barmenu-nav nav {
    position: relative;
    top: 25%;
    width: 65%;
    margin: 0 auto;
}

.container-barmenu-nav ul {
    list-style: none;
}

.container-barmenu li {
    padding: 20px 0;
    border-bottom: 1px solid #7a3d11;
}

.container-barmenu li:hover {
    border-bottom: 1px solid #fff;
    transition-duration: 0.5s;
}

.container-barmenu-nav a {
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

.container-cover {
    position: relative;
    width: 100%;
    height: 100%;
}

.container-cover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 19, 11, 0.287);
}

.container-cover video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: contrast(120%);
}

.container-cover-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 999;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.container-cover-description h2,
p {
    margin-bottom: 10px;
}

.container-cover-description .button {
    width: 120px;
}

.container-cover-description .button:hover {
    padding-right: 10px;
}

/* Servicios */

#servicios .container-mini:nth-child(1) {
    color: #fff;
    background-color: rgb(12, 12, 12);
}

#servicios .container-mini:nth-child(1) h3 {
    text-align: left;
}

#servicios .container-mini:nth-child(3) {
    background-color: #fff;
    color: rgb(12, 12, 12);
}

#servicios .container-mini:nth-child(4) h3 {
    text-align: left;
}

.container-mini a {
    margin: 20px 0px;
}

/* Reservasyorg */

#reservasyorg p {
    margin: 50px 0;
}

#reservasyorg .container-mini:nth-child(1) {
    background-blend-mode: multiply;
    background-image: url(../img/reserv.jpg),
        linear-gradient(134deg, #706c6c 0%, rgba(15, 15, 15, 0.335) 100%);
    color: #fff;
    line-height: 30px;
}

#reservasyorg .container-mini:nth-child(2) {
    background-blend-mode: multiply;
    background-image: url(../img/event.jpg),
        linear-gradient(134deg, #706c6c 0%, rgba(15, 15, 15, 0.335) 100%);
    color: #fff;
    line-height: 30px;
}

/* Plato Estrella */

#platosestrella .container {
    padding: 30px 0px;
    text-align: center;
}

#platosestrella .container-platos {
    width: 90%;
    margin: 0 auto;
}

.infoplatos .button {
    position: relative;
    margin: 0;
    height: 10%;
    width: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
}

#platosestrella .infoplatos .button:hover {
    padding-right: 0px;
}

.infoplatos {
    height: 400px;
    width: 100%;
    -webkit-perspective: 700;
    margin: 50px auto;
    border-radius: 30px;
    box-shadow: 2px 2px 10px #666;
    background-color: #0c0c0c;
    color: #fff;
}

.infoplatos-titulo {
    height: 15%;
    padding-top: 15px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.infoplatos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cartaes {
    width: 100%;
    height: 75%;
    position: relative;
    transform-style: preserve-3d;
    transition: 1.5s;
}

.lado {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
}

.frente {
    background: none;
}

.atras {
    background-image: linear-gradient(135deg,
            rgba(0, 0, 0, 0.835) 70%,
            rgba(0, 0, 0, 0.918) 100%),
        url(../img/hamburguesa.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateY(180deg);
    padding: 20px 50px 20px;
}

#platouno {
    background-image: linear-gradient(135deg,
            rgba(0, 0, 0, 0.835) 70%,
            rgba(0, 0, 0, 0.918) 100%),
        url(../img/hamburguesa.jpg);
}

#platodos {
    background-image: linear-gradient(135deg,
            rgba(0, 0, 0, 0.835) 70%,
            rgba(0, 0, 0, 0.918) 100%),
        url(../img/ensalada.jpg);
}

#platotres {
    background-image: linear-gradient(135deg,
            rgba(0, 0, 0, 0.835) 70%,
            rgba(0, 0, 0, 0.918) 100%),
        url(../img/pasta.jpg);
}

#platocuatro {
    background-image: linear-gradient(135deg,
            rgba(0, 0, 0, 0.835) 70%,
            rgba(0, 0, 0, 0.918) 100%),
        url(../img/tarta.jpg);
}

.atras h3 {
    margin: 10px 0px 20px;
}

.atras p {
    text-align: left;
    line-height: 25px;
}

#platosestrella .fa-chevron-right {
    visibility: hidden;
    position: absolute;
    right: 60px;
    top: 11px;
    transition: all 0.5s;
    opacity: 0;
}

#platosestrella .button:hover .fa-chevron-right {
    visibility: visible;
    position: absolute;
    right: 45px;
    opacity: 1;
}

#platosestrella .button:hover {
    padding-right: 10px;
}

/* Contacto y Ubicación */

#contactoyubi {
    background-color: #0c0c0c;
}

#contactoyubi .container-mini:nth-child(1) {
    min-height: 0px;
}

#contactoyubi .container-mini:nth-child(1) h3 {
    text-align: left;
}

#contactoyubi .container {
    color: #fff;
    padding: 40px 0px 0px;
}

#contactoyubi h1 {
    text-align: center;
    font-size: 2em;
    border-bottom: 3px solid #ca651c;
    width: 400px;
    padding-bottom: 10px;
    margin: 0 auto;
}

#contactoyubi .container-mini:nth-child(2) h2,
h3 {
    text-align: center;
}

#contactoyubi .container-mini iframe {
    margin: 20px 0px;
}

/* Formulario */

.container-mini form {
    text-align: center;
    margin-top: 30px;
    padding: 10px 0px;
}

.container-mini input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.05em;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    font-family: "Open Sans";
}

.container-mini input {
    font-family: "Raleway", sans-serif;
}

.container-mini textarea {
    font-family: "Raleway", sans-serif;
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
    resize: none;
}

#formbutton {
    font-family: "Raleway", sans-serif;
    background: #e67321;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s;
}

#formbutton:hover {
    background-color: #ca651c;
}

#contactoyubi iframe {
    width: 100%;
}

/* Responsive */

@media (max-width: 374px) {
    #platosestrella .atras p {
        font-size: 0.8em;
    }
}

@media (max-width: 425px) {
    /* Header */

    .container-cover-description h2 {
        font-size: 2em;
    }

    /* Plato Estrella */

    #platosestrella .atras {
        padding: 20px 30px 20px;
    }

    /* Contacto y ubicación */

    #contactoyubi h1 {
        font-size: 1.6em;
        width: 280px;
    }
}

@media (min-width: 425px) {

    /* Plato Estrella */
    #platosestrella .container-platos {
        width: 80%;
    }
}

@media (max-width: 767px) {

    /* Servicios */
    .container-mini-img:nth-child(3) {
        display: none;
    }
}

@media (min-width: 768px) {
    /* Servicios */

    #servicios .container {
        display: flex;
        flex-wrap: wrap;
    }

    #servicios .container-mini {
        width: 50%;
    }

    #servicios .container-mini-img {
        width: 50%;
    }

    /* Reservas y org */

    #reservasyorg .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #reservasyorg .container-mini {
        width: 50%;
    }

    /* Plato Estrella */

    #platosestrella .container-platos {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    #platosestrella .infoplatos {
        width: 45%;
    }

    #platosestrella .atras {
        padding: 20px 30px 20px;
    }
}

@media (min-width: 1024px) {
    /* Header - Nav */

    .fixed nav li:hover {
        background-color: #271811;
        border-radius: 5px;
    }

    .container-barmenu-logo {
        margin-top: 5px;
        margin-left: 1.25%;
        width: 30%;
    }

    header .fa-times {
        display: none;
    }

    header .fa-bars {
        display: none;
    }

    header .background-nav {
        display: none;
    }

    .container-barmenu-nav {
        background: none;
        position: static;
        transform: translateX(0%) !important;
        height: inherit;
        width: 70%;
        transition-delay: 0ms;
        transition-duration: 0s;
    }

    .container-barmenu-nav nav {
        position: static;
        margin: 0;
        width: 100%;
    }

    .container-barmenu-nav ul {
        display: flex;
        justify-content: flex-end;
    }

    .container-barmenu-nav li {
        border-bottom: 0px;
        margin: 0 10px;
        padding: 10px 10px;
    }

    .container-barmenu-nav li:hover {
        border-bottom: 0px solid #fff;
        background-color: #ca651c;
        border-radius: 5px;
        transition-duration: 0.5s;
    }

    /* Plato Estrella */

    #platosestrella .container {
        width: 80%;
        margin: 0 auto;
        padding: 50px 0px;
    }

    /* Contacto y ubicación */

    #contactoyubi .container {
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 1440px) {
    /* Header */

    .container-barmenu-logo {
        margin-left: 5%;
    }

    .container-barmenu-nav {
        margin-right: 5%;
    }

    /* Servicios */

    #servicios .container-mini {
        height: 450px;
        padding: 5% 5%;
    }

    #servicios .container-mini-img {
        height: 450px;
    }

    /* Reservas y org */

    #reservasyorg .container-mini {
        height: 450px;
        padding: 5% 5%;
    }

    /* Plato Estrella */

    #platosestrella .container {
        width: 60%;
        margin: 0 auto;
    }

    /* Contacto y ubicación */

    #contactoyubi .container {
        width: 80%;
    }

    #contactoyubi .container-contactoyubi {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: #0c0c0c;
        padding: 40px 0px;
    }

    #contactoyubi .container-mini {
        width: 40%;
        margin: 0 auto;
    }
}

@media (min-width: 2560px) {
    /* Header */

    .container-barmenu-logo {
        margin-left: 10%;
    }

    .container-barmenu-nav {
        margin-right: 10%;
    }

    /* Servicios */

    #servicios .container-mini {
        padding: 3% 3%;
    }

    /* Reservas y org */

    #reservasyorg .container-mini {
        padding: 3% 3%;
    }

    /* Plato Estrella */

    #platosestrella .container {
        width: 50%;
    }

    /* Contacto y ubicación */

    #contactoyubi .container {
        width: 70%;
    }
}

/* Anim */
