$firstcolor: #ca651c;
$secondcolor: #fff;
$thirdcolor: #fff;

/* Footer */

footer {
    background-color: $firstcolor;

    .container__content {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #fff;
        padding: 20px 0px;

        @media (min-width: 1024px) {
            flex-direction: row;
        }

        @media (min-width: 1440px) {
            width: 80%;
        }

        @media (min-width: 2560px) {
            width: 70%;
        }

        .social {
            font-size: 2em;

            @media (min-width: 1024px) {
                width: 33%;
                text-align: center;
            }

            @media (min-width: 1440px) {
                text-align: left;
            }

            i {
                color: $thirdcolor;
                margin: 0 3px;
                cursor: pointer;
            }
        }

        .lcc {
            margin: 10px auto 10px;
            width: 80%;
            font-size: 1em;
            font-weight: 600;

            @media (min-width: 1024px) {
                width: 33%;
                margin: 10px auto 0px;
                text-align: center;
            }

            @media (min-width: 1060px) {
                display: flex;
            }


            p {
                margin-bottom: 10px;

                @media (min-width: 1060px) {
                    margin-right: 10px;
                    margin-top: 2.5px;
                    margin-bottom: 0px;
                }

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }

        .politicas {
            color: $secondcolor;
            font-size: 0.7em;

            @media (min-width: 1024px) {
                width: 33%;
                margin-top: 12.5px;
                text-align: right;
            }

            a {
                color: $secondcolor;
                text-decoration: none;
            }
        }
    }
}
